html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;

  color: #000000;

}

.wrapper {
  width: 1220px;

  margin: 0 auto;
}

.header {
  background-color: #edf2ec;

  margin: 0;
  padding: 0;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: "Inika", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;

  color: #000000;

  margin: auto 0;
}

.menu {
  width: 450px;
  height: 50px;

  margin: 42px 0;
}

.menu-list {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
}

.menu__item {
  list-style: none;
}

.menu__item__link {
  font-family: "Inika", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 50px;
  text-decoration: none;

  color: #010201;
}

.welcome {
  background-color: #edf2ec;
  padding: 62px 0;
}

.welcome-wrapper {
  display: flex;
  justify-content: space-between;
}

.welcome-img {
  width: 450px;
  height: 410px;
}

.welcome-description {
  width: 550px;
  height: 340px;

  margin: auto 0;
}

.welcome__header {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;

  color: #717171;

  margin: 0 0 45px 0;
}

.header_green {
  color: #499a18;
}

.welcome__text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;

  color: #636060;

  margin: 0 0 45px 0;
}

.welcome__button {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: #000000;

  width: 160px;
  height: 45px;

  border: 2px solid #e06733;
  border-radius: 10px;

  margin: 0;
}

.about {
  padding: 93px 0;
}

.about-wrapper {
  display: flex;
  justify-content: space-between;
}

.about__description {
  width: 605px;
  height: 350px;

  margin: auto 0;
}

.about__header {
  font-family: "Inika", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;

  color: #499a18;

  margin: 0 0 40px 0;
}

.header_new-green {
  color: #e06733;
}

.about__text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  color: #636060;

  margin: 0;
}

.service {
  background-color: #edf2ec;

  padding: 40px 0 0 0;
}

.service__description {
  display: flex;
  justify-content: space-between;

  width: 1005px;
  height: 95px;
}

.service__header {
  font-family: "Inika", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;

  color: #499a18;

  margin: 0;

  width: 305px;
}

.service__buttons {
  display: flex;
  justify-content: space-between;

  width: 560px;
  height: 50px;

  margin: auto 0;
}

.service__button {
  width: 160px;
  height: 50px;

  font-family: "Inika", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;

  color: #e06733;

  border: 1px solid #e06733;
  border-radius: 5px;

  background-color: #edf2ec;
}

.services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  /*justify-content: space-between;*/

  column-gap: 115px;
  row-gap: 55px;

  padding: 90px 0 120px 0;
}

.service-item {
  width: 330px;
  height: 450px;

  border: 1px solid #e3e1d5;
  border-radius: 20px;
}

.service-item__img {
  border-bottom: 1px solid #e3e1d5;

  margin: 0;
  padding: 0;
}

.service-item__description {
  /*border: 1px solid #E3E1D5;*/
  /*border-radius: 0 0 20px 20px;*/

  margin: 0;
  padding: 0;
}

.service-item__header {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;

  color: #e06733;

  margin: 10px 0;
  text-align: center;
  padding: 0;
}

.service-item__text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  margin: 0 0 35px 0;
  text-align: center;
  color: #717171;
}

.prices-wrapper {
  display: flex;
  justify-content: space-between;

  margin-top: 40px;
  margin-bottom: 115px;
}

.prices__description {
}

.prices__header {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;

  color: #000000;

  margin: 0 0 60px 0;
}

.service-border {
  width: 330px;
  height: 280px;

  border: 1px solid #e3e1d5;
  border-radius: 20px;
}

.service-choice {
  display: grid;
  gap: 32px;

  margin: 34px 0;
}

.service-choice__item {
  display: flex;
  justify-content: space-between;

  width: 250px;
  height: 50px;

  background-color: #edf2ec;
  border: none;
  border-radius: 20px;

  padding: 17px 40px;
  margin: 0 auto;

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.accordion {
  width: 4px;
  height: 4px;

  padding: 6px;

  background-color: #d9d9d9;
  border-radius: 40px;
}

.contact-us {
  text-align: right;
  display: grid;
  gap: 40px;

  width: 450px;
}

.contacts-wrapper {
  /*position: relative;*/

  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}

.contact-us__header {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: right;
  color: #000000;
  margin: 0;
}

.contact-us__button {
  width: 160px;
  height: 50px;

  font-family: "Inika", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #e06733;

  margin-left: auto;
  padding: 0;

  border: 1px solid #e06733;
  border-radius: 5px;

  background-color: #ffffff;
}

.contact-us__img {
  margin-left: auto;
}

.contacts {
  background-color: #edf2ec;
  height: 557px;
}

.contacts__header {
  text-align: center;
  margin: 0;

  font-family: 'Inika', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;

  color: #499A18;

}

.contacts__img {
  /*position: absolute;*/
  /*left: 109px;*/
  /*top: 53px;*/
}

.service__choice-city {
  display: flex;
  justify-content: space-between;

  width: 450px;
  height: 50px;

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #717171;

  background: #d6e7d2;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 0;

  margin-top: 110px;
  padding: 0 20px;
}

.choice-city__accordion {
  margin: auto 0;
}

.footer {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #000000;
  height: 130px;


}

.footer-wrapper {
  display: flex;
  justify-content: space-between;

  padding: 40px 0;
}

.social-list {
  display: flex;
  justify-content: space-between;

  width: 190px;

  margin: 0 0;
  padding: 0;


}

.social-item {
  list-style: none;
}

.social-item__img {

}

.github {
  color: #000000;
}
